# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
UnityVS/
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
.vs/unity-native-sharing/v15/Server/sqlite3/storage.ide-shm
.vs/unity-native-sharing/v15/Server/sqlite3/storage.ide
.vs/unity-native-sharing/v15/Server/sqlite3/storage.ide-wal
.vs/unity-native-sharing/v15/Server/sqlite3/db.lock
