# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
 
Assets/Plugins/
Assets/PlayServicesResolver/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
UnityVS/
.vs/
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
Assets/Plugins/NativeShare.cs.rej.meta
Assets/Plugins/NativeShare.cs.rej
ProjectSettings/GvhProjectSettings.xml
ProjectSettings/AndroidResolverDependencies.xml
